## Audit time changes
-a always,exit -F arch=b64 -S adjtimex -S settimeofday -S clock_settime -k time-change
-a always,exit -F arch=b32 -S adjtimex -S settimeofday -S clock_settime -k time-change
-w /etc/localtime -p wa -k time-change

## Identity and account modifications
-w /etc/group -p wa -k identity
-w /etc/passwd -p wa -k identity
-w /etc/gshadow -p wa -k identity
-w /etc/shadow -p wa -k identity
-w /etc/security/opasswd -p wa -k identity

## Logins
-w /var/log/faillog -p wa -k logins
-w /var/log/lastlog -p wa -k logins
-w /var/log/tallylog -p wa -k logins

## Session initiation
-w /var/run/utmp -p wa -k session
-w /var/log/wtmp -p wa -k session
-w /var/log/btmp -p wa -k session

## Permission modifications
-a always,exit -F arch=b64 -S chmod -S fchmod -S fchmodat -k perm_mod
-a always,exit -F arch=b32 -S chmod -S fchmod -S fchmodat -k perm_mod
-a always,exit -F arch=b64 -S chown -S fchown -S fchownat -S lchown -k perm_mod
-a always,exit -F arch=b32 -S chown -S fchown -S fchownat -S lchown -k perm_mod

## Sudo scope changes
-w /etc/sudoers -p wa -k scope
-w /etc/sudoers.d -p wa -k scope

## Kernel module changes
-w /sbin/insmod -p x -k modules
-w /sbin/rmmod -p x -k modules
-w /sbin/modprobe -p x -k modules
-a always,exit -F arch=b64 -S init_module -S delete_module -k modules
-a always,exit -F arch=b32 -S init_module -S delete_module -k modules


# Überwachung von fehlgeschlagenen Datei-Zugriffsversuchen (EACCES / EPERM)
# Kategorie: access

# 64-Bit Regeln - Zugriffsverweigerung wegen fehlender Berechtigungen (-EACCES)
-a always,exit -F arch=b64 -S creat -S open -S openat -S truncate -S ftruncate \
  -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access

# 64-Bit Regeln - Operation nicht erlaubt (-EPERM)
-a always,exit -F arch=b64 -S creat -S open -S openat -S truncate -S ftruncate \
  -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k access

# 32-Bit Regeln - Zugriffsverweigerung wegen fehlender Berechtigungen (-EACCES)
-a always,exit -F arch=b32 -S creat -S open -S openat -S truncate -S ftruncate \
  -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access

# 32-Bit Regeln - Operation nicht erlaubt (-EPERM)
-a always,exit -F arch=b32 -S creat -S open -S openat -S truncate -S ftruncate \
  -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k access

# Überwachung von mount-Vorgängen durch nicht-privilegierte Benutzer
# Kategorie: mounts

# 64-Bit Regel
-a always,exit -F arch=b64 -S mount -F auid>=1000 -F auid!=4294967295 -k mounts

# 32-Bit Regel
-a always,exit -F arch=b32 -S mount -F auid>=1000 -F auid!=4294967295 -k mounts