[OPTIONS]
enable: 1


#[group pve-hostbase]
#IN ACCEPT -p tcp --dport 22
#IN ACCEPT -p tcp --dport 8006
#IN ACCEPT -p icmp


{% for sg in security_groups %}
[group {{ sg.name }}]
{% for rule in sg.rules %}
{% if rule.protocol == 'icmp' %}
{{ rule.direction }} {{ rule.action }} -p icmp {% if rule.source is defined %} -source '+dc/'{{ rule.source }} {% if rule.comment is defined %} # {{ rule.comment }}
{% endif %}
{% endif %}

{% else %}
{{ rule.direction }} {{ rule.action }} -p {{ rule.protocol }} --dport {{ rule.port }} {% if rule.source is defined %} -source {{ rule.source }} {% if rule.comment is defined %} # {{ rule.comment }}
{% endif %}
{% endif %}
{% endif %}

{% endfor %}

{% endfor %}

#[IPSET management]
#192.168.2.10
#192.168.2.10/24

{% for ipset in ipsets %}
[IPSET {{ ipset.name }}]
{% for ip in ipset.ip %} 
{{ ip }} {% if ipset.comment is defined %} # {{ ipset.comment }}
{% endif %}

{% endfor %}

{% endfor %}